<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Backgammon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="stylesheets/game.css"
    />
  </head>
  <body>
    <main>
      <section id="ui">
        <div id="player1">
          <span id="username1"><%= username %></span><br />
          <span id="score1">200</span>
        </div>
        <div id="player2">
          <span id="username2"></span><span id="score2"></span>
        </div>
        <div id="pause-menu"></div>
        <div id="chatbox">
          <div id="chatlogs">
            <div id="chat-message" class="p2">
              <div id="user-photo">
                <img
                  src="http://morrisonimmigrationlaw.com/wp-content/uploads/2015/02/aaron-m-morrison-immigratio.jpg"
                />
              </div>
              <p id="chat-text">Sup bro ;p</p>
            </div>
            <div id="chat-message" class="p1">
              <div id="user-photo">
                <img
                  src="https://dcp.ufl.edu/dcp/uploads/2017/08/travis-kolbjornsen-300x300.png"
                />
              </div>
              <p id="chat-text">Yoo</p>
            </div>
            <div id="chat-message" class="p2">
              <div id="user-photo">
                <img
                  src="http://morrisonimmigrationlaw.com/wp-content/uploads/2015/02/aaron-m-morrison-immigratio.jpg"
                />
              </div>
              <p id="chat-text">How you doin'?</p>
            </div>
            <div id="chat-message" class="p1">
              <div id="user-photo">
                <img
                  src="https://dcp.ufl.edu/dcp/uploads/2017/08/travis-kolbjornsen-300x300.png"
                />
              </div>
              <p id="chat-text">Can't complain man, wby?</p>
            </div>
            <div id="chat-message" class="p2">
              <div id="user-photo">
                <img
                  src="http://morrisonimmigrationlaw.com/wp-content/uploads/2015/02/aaron-m-morrison-immigratio.jpg"
                />
              </div>
              <p id="chat-text">
                I am dying. I saw this bear drinking a beer in my backyard, I
                basically screamed 'BEAR, NOOOOOO!!', after which it ran to the
                street and terrorised my neighbours... Best day ever lol
              </p>
            </div>
            <div id="chat-message" class="p1">
              <div id="user-photo">
                <img
                  src="https://dcp.ufl.edu/dcp/uploads/2017/08/travis-kolbjornsen-300x300.png"
                />
              </div>
              <p id="chat-text">
                Sounds dangerous... ly COOL lol, I wish I had a pet bear like
                Putin, what a god
              </p>
            </div>
          </div>
          <div id="chat-form"><textarea> </textarea> <button>Send</button></div>
        </div>
        <div id="actions-menu"></div>
      </section>
      <section id="game"><div id="board"></div></section>
    </main>
    <script src="javascripts/game.js"></script>
  </body>
</html>
