<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Backgammon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="stylesheets/splash.css"
    />
  </head>

  <body>
    <div id="alert-overlay">Screen size too small!</div>
    <div id="title"><img src="images/title.png" /></div>
    <% if(user) { %>
      <div id="button-container">
        <form action="/play" method="GET"><button type="submit" id="play_btn"></form></button>
        <button id="help_btn"></button>
        <button id="settings_btn"></button>
        <a href='users/logout'>Logout</a>
      </div>
    <% }else{ %>
      <%- messages('message', locals) %>
      <div id="form-container">
        <form id="login-form" method="POST" action="/users/login">
          <span id="login-form-title">Login</span>
          <div id="input-container">
            <div class="form-group validate-input">
              <input class="login-input" name="username" type="text" placeholder="Username" />
              <span class="focus-login-input"></span>
              </div>
            <div class="form-group validate-input">
              <input class="login-input" name="password" type="password" placeholder="Password" />
              <span class="focus-login-input"></span>
            </div>
          </div>
          <div id="container-login-form-btn">
            <input id="login-form-btn" type="submit" value="Submit" />
          </div>
          <div id="register-link"><a href="/users/register">Register</a></div>
        </form>
      </div>
    <% } %>
    <span id="version">Version 1.0.0</span>
  </body>
</html>
