<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Backgammon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="stylesheets/splash.css"
    />
  </head>

  <body onload="getversion">
    <div id="title"><img src="images/title.png" /></div>
    <div id="button-container">
    <% if(user) { %>
      <form action="/play" method="GET"><button type="submit" id="play_btn"></form></button>
      <% }else{ %>
        <%- messages('message', locals) %>
        <h1>Login</h1>
        <form method="POST" action="/users/login">
          <div id="form-group">
            <label>Username:</label
            ><input class="form-control" name="username" type="text" />
          </div>
          <div id="form-group">
            <label>Password:</label
            ><input class="form-control" name="password" type="password" />
          </div>
          <br /><input class="btn btn-primary" type="submit" value="Submit" />
        </form>
      <% } %>

      <% if(user) { %>
        <a href='users/logout'>Logout</a>
      <% }else{ %>
        <pre>
          <a href="/users/register">Register</a>
        
          <a href="/users/login">Login</a>
        </pre>
      <% } %>
      <button id="help_btn"></button>
      <button id="settings_btn"></button>
    </div>
    <span id="version">Version 1.0.0</span>
  </body>
</html>
