<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Backgammon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="stylesheets/splash.css"
    />
  </head>

  <body onload="getversion">
    <div id="title"><img src="images/title.png" /></div>
    <div id="button-container">
      <form action="/play" method="GET"><button type="submit" id="play_btn"></form></button>
      <% if(user) { %>
        <a href='users/logout'>Logout</a>
      <% }else{ %>
        <a href="/users/register">Register</a><br/><a href="/users/login">Login</a>
      <% } %>
      <button id="help_btn"></button>
      <button id="settings_btn"></button>
    </div>
    <span id="version">Version 1.0.0</span>
  </body>
</html>
